services:
  api:
    build: .
    container_name: pausas-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:16
    container_name: pausas-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pausas_activas
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
